@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/Roboto/Roboto-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../../public/fonts/Roboto/Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Archivo';
    src: url('../../public/fonts/Archivo/Archivo-Black.ttf') format('ttf');
}