.destination {

    text-align: center;
    padding: 30rem 6rem;


}

.destination__log {}

.destination__title {
    font-family: 'Roboto';
    font-size: 3rem;
    max-width: 36rem;
    margin: 0 auto;
}

.destination__places {
    display: flex;
    flex-wrap: wrap;


}

.destination__link {
    color: var(--orange);
    background: transparent;
    border: 1px solid var(--orange);
    margin-top: 3rem;


}

.destination__link:hover {
    color: var(--white);
    background-color: var(--orange);
    transition: all 250ms ease;

}

.destination__links {
    display: flex;
    align-items: center;

}


.contact-us {
    color: var(--dark-grey);
    width: 40rem;
    height: 45rem;
    background-color: var(--pink);
    text-align: center;
    box-shadow: 1rem 1rem 3rem 1rem var(--grey);
    padding: 2rem 2rem;
    margin: 4rem auto;
    font-family: 'Archivo';

}



.contact-us__form {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Archivo';
    flex-direction: column;
    align-items: center;
}

.contact-us__in-email {
    border: 2px solid #ccc;
    border-radius: 3px;
    width: 20rem;
    height: 3rem;

}

.contact-us__in-name {
    border: 2px solid #ccc;
    border-radius: 3px;
    width: 20rem;
    height: 3rem;

}

.contact-us__in-lastName {
    border: 2px solid #ccc;
    border-radius: 3px;
    margin: 2rem 0;
    width: 20rem;
    height: 3rem;
}

.contact-us__submit {
    background: transparent;
    color: var(--orange);
    border: 1px solid var(--orange);
    margin-top: 3rem;
    width: 12rem;
    font-family: 'Archivo';
    cursor: pointer;

}

.contact-us__submit:hover {
    color: var(--white);
    background-color: var(--orange);
    transition: all 250ms ease;

}

span {
    color: rgb(202, 118, 118);
}

.Success {
    width: 10rem;
    height: 3rem;
    background: transparent;
    border: 1px solid rgb(12, 158, 73);
    ;
    color: rgb(12, 158, 73);
    ;
    border-radius: 1rem;
    align-items: center;
    margin: 0 auto;

}

.forms {
    display: flex;
    justify-content: space-between;
}