/* component css */


.btn {
    display: block;
    background-color: rgb(143, 140, 140);
    color: var(--white);
    border-radius: 10rem;
    width: 15rem;
    height: 5rem;
    /* align center content */
    display: flex;
    justify-content: center;
    align-items: center;
    /* middle*/
    margin: 0 auto;
    font-family: Roboto Regular;
}



.container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    /* give background with create shadow on pic.   cover for cover pic*/
    background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)), url('../../../public/images/header-bg.jpg');
    background-position: center;
    background-size: cover;
    border-bottom-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
    min-height:55rem;
}



/* Header content */



.content {

    text-align: center;
    color: var(--white);
}

.content__title {
    font-family: 'Archivo';
    max-width: 40rem;
    font-size: 5.5rem;
    line-height: 4.2rem;
    margin: 2rem auto 2rem auto;

}

.content__description {
    max-width: 42rem;
    margin: 2rem auto 2rem auto;
}


.content__link {
    background-color: var(--orange);
}